// When color definition differs for dark and light variant
// it gets @if ed depending on $variant


$base_color:  #ffffff;
$text_color: #1a1a1a;
$bg_color: #edeceb;
$fg_color:  #2e3436;

$selected_fg_color: #ffffff;
$selected_bg_color: #86abd9;
$selected_borders_color: darken($selected_bg_color, 15%);
$borders_color:  darken($bg_color, 50%);
$alt_borders_color:  darken($bg_color, 24%);
$borders_edge: transparentize(white, 0.2);
$link_color: darken($selected_bg_color, 10%);
$link_visited_color: darken($selected_bg_color, 20%);
$top_hilight: $borders_edge;
$headerbar_color: lighten($bg_color, 5%);
$menu_color:  $base_color;
$popover_bg_color: $bg_color;
$popover_hover_color: lighten($bg_color, 5%);

$scrollbar_bg_color:  mix($bg_color, $fg_color, 80%);
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: darken($selected_bg_color, 10%);

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: #33d17a;
$destructive_color:  #e01b24;

$osd_fg_color: #eeeeec;
$osd_text_color: white;
$osd_bg_color:  transparentize(darken(desaturate(#3d3846, 100%), 4%),0.1);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.3);

$sidebar_bg_color: mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: #4e9a06;

@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{$a})");
}

@function gtkshade($c,$a) {
  @return unquote("shade(#{$c},#{$a})");
}

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color:  darken($base_color, 1%);
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color:  darken($backdrop_bg_color, 15%);
$backdrop_selected_fg_color:  $backdrop_base_color;



//special cased widget colors
$suggested_bg_color: $selected_bg_color;
$suggested_border_color: $selected_borders_color;
$progress_bg_color: $selected_bg_color;
$progress_border_color: $selected_borders_color;
$checkradio_bg_color: $selected_bg_color;
$checkradio_fg_color: $selected_fg_color;

$core_color_a: #a4c2e8; /* Core color for blue widgets in TraditionalOK. */
$core_color_b: #edeceb;

/**********
 * button *
 **********/

$button_gradient_a: lighten($core_color_b, 7%);
$button_gradient_b: lighten($core_color_b, 6%);
$button_gradient_c: lighten($core_color_b, 4%);
$button_gradient_d: darken($core_color_b, 2%);

$button_hover_gradient_a: $base_color;
$button_hover_gradient_b: lighten($core_color_b, 8%);
$button_hover_gradient_c: lighten($core_color_b, 6%);
$button_hover_gradient_d: darken($core_color_b, 1%);

$button_default_border_color: #6699CC;
$button_default_box_shadow_color: #336699;

$button_active_gradient_a: darken($core_color_b, 15%);
$button_active_gradient_b: darken($core_color_b, 10%);
$button_active_gradient_c: darken($core_color_b, 9%);
$button_active_gradient_d: darken($core_color_b, 14%);
$button_active_gradient_e: darken($core_color_b, 16%);
$button_active_gradient_f: darken($core_color_b, 20%);

$button_insensitive_gradient_a: lighten($bg_color, 1%);
$button_insensitive_gradient_b: darken($bg_color, 2%);
$button_insensitive_gradient_c: darken($bg_color, 4%);
$button_insensitive_gradient_d: darken($bg_color, 1%);


/***********
 * menubar *
 ***********/

$menubar_gradient_a: darken($core_color_b, 1%);
$menubar_gradient_b: darken($core_color_b, 2%);
$menubar_gradient_c: darken($core_color_b, 4%);
$menubar_menuitem_hover_border_color: darken($core_color_a, 42);

$menubar_menuitem_hover_gradient_a: lighten($core_color_a, 5%);
$menubar_menuitem_hover_gradient_b: $core_color_a;
$menubar_menuitem_hover_gradient_c: darken($core_color_a, 2%);
$menubar_menuitem_hover_gradient_d: darken($core_color_a, 13%);


/***********
 * Toolbar *
 ***********/
$toolbar_gradient_a: lighten($core_color_b, 4%);
$toolbar_gradient_b: lighten($core_color_b, 1%);
$toolbar_gradient_c: $core_color_b;
$toolbar_gradient_d: darken($core_color_b, 3%);

/***************
 * progressbar *
 ***************/

$progressbar_border_color: mix(#6a6a6a, $core_color_a, 80%);
$progressbar_pattern_color:mix($base_color,$core_color_a, 50%);

$progressbar_bg_color: $core_color_a;

$progressbar_gradient_a: darken($progressbar_bg_color, 2%);
$progressbar_gradient_b: darken($menubar_menuitem_hover_gradient_b, 4%);
$progressbar_gradient_c: darken($menubar_menuitem_hover_gradient_c, 4%);
$progressbar_gradient_d: darken($menubar_menuitem_hover_gradient_d, 4%);

$dark_fill: mix($borders_color, $core_color_b, 20%);


/***************
 *   Notebook   *
 ***************/

$notebook_bg: mix($bg_color, $base_color, $weight: 60%);
